::placeholder {
  color: gray;
  padding: 0 0 0 10px ; 
}

.poke__logo {
  padding: 1rem 1rem;
}

.poke__form{
  display: flex;
  width: 100%;
  padding: 10px;
}

.poke__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 10px;
}